<nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="https://lively-jelly-ff4609.netlify.app/logo.c493797d.png" class="img-fluid" alt="">
            <strong> Dead inside community Russia </strong>
        </a>
        <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="modal" data-target="#new-card-modal" id="toastbtn"> Apply </button>
    </div>
</nav>