<div class="container d-flex justify-content-between align-items-center">
            <h2>Designed by: Asadulin Ruslan</h2>
            <img src="https://lively-jelly-ff4609.netlify.app/social_media.fb7c707c.png" class="img-fluid" alt="">
        </div>